*.sublime-*
/actual/
_gh_pages
bower_components
node_modules
npm-debug.log
temp
tmp
TODO.md
vendor

# npmignore
.gitattributes
.gitignore
.jshintrc
.verb*
benchmark
bower.json
example.js
grunt*
gulp*
LICENSE*
test.js
test
