# Ignore docs on npm
docs

/node_modules/

*.sublime-project
*.sublime-workspace
.editorconfig

.gitignore
.jshintrc

/src/
/test/
temp
tmp


Gruntfile.js
component.json

lib/untested

ROADMAP
TODO.md

