<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Top of the page</h1>

    <h2>Section before body</h2>
    {{#override 'before'}}
      <p>Default before section content</p>
    {{/override}}

    {{>body}}

    {{#override 'after'}}
      <p>Default after section content</p>
    {{/override}}

  </body>
</html>
