<hr>
{{#if footers.length}}
    {{#each footers}}
  {{{replaceLinksAndParse footer}}}
{{/each}}
{{else}}
Documentation generated using <a href="https://github.com/doug-martin/coddoc">coddoc</a>.
{{/if}}
